CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea/
cmake-build-debug/
Haskell/lab2/Main.hi
Haskell/lab2/Main.exe
Haskell/lab2/Main.o
Haskell/lab2/SawBoards.hi
Haskell/lab2/SawBoards.o
Haskell/lab2/func_testing/tst.exe
Haskell/lab2/func_testing/tst.hi
Haskell/lab2/func_testing/tst.o
Haskell/lab2/brend/in.txt
Haskell/lab2/brend/Main.exe
Haskell/lab2/brend/Main.hi
Haskell/lab2/brend/Main.hs
Haskell/lab2/brend/Main.o
Haskell/lab2/brend/out.txt
Haskell/lab2/brend/SawBoards.hi
Haskell/lab2/brend/SawBoards.hs
Haskell/lab2/brend/SawBoards.o
