CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea/
cmake-build-debug/
Haskell/lab2/Main.hi
Haskell/lab2/Main.exe
Haskell/lab2/Main.o
Haskell/lab2/SawBoards.hi
Haskell/lab2/SawBoards.o
