CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea/
cmake-build-debug/
Haskell/lab2/brend/in.txt
Haskell/lab2/brend/out.txt
*.exe
*.hi
*.o
Haskell/lab2/brend/Main.hs
Haskell/lab2/brend/SawBoards.hs
Haskell/final/debug.log
Haskell/final/fun-headers.txt
Haskell/final/KenKen
Haskell/final/tmp.txt
Haskell/final/prob-scrap.txt
Haskell/final/ghc-opts.txt
Haskell/final/ken
Haskell/final/input.txt
